.listContainer{
display: flex;
/* background-color: black; */
justify-content: center;

margin-top: 20px;
}

.listWrapper{
    width:100vw;
    max-width: 1024px;
    display: flex;
    gap:20px;
    padding:1%;
    margin-top: 6vh;
    /* background-color: red; */
    /* flex-direction: column; */

}

.listSearch{
    flex:1;
    background-color: #feb002;
    padding :10px;
    border-radius: 10px;
    position:sticky;
    top:10px;
    height:max-content;


}
.lsTitle{
    font-size: 20px;
    color:#555;
    margin-bottom: 10px;
}

.List_listResult{
    flex:2;
}

.lsItem{
    display: flex;
    flex-direction: column;
    gap:5px;
    margin-bottom: 10px;

}

.lsItem>label{
    font-size: 12px;
}

.lsItem>input{
    height:30px;
    border:none;
    padding: 5px;

}

.lsItem>span{
    height:30px;
    
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;

}


.lsOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color:#555;
    font-style: 12px;

}

.IsOptionInput{
    width:50px;
}

.lsOptions{
    padding: 10px;
}
.listSearch>button{
    padding:10px;
    background-color: #0071c2;
    color: white;
    border:none;
    width:100%;
    font-weight: 500;
    cursor: pointer;
}

@media(max-width:900px){

    .listWrapper{
      
        flex-direction: column;
    
    }

    .listSearch{
      
        position:static;
        top:10px;
        height:max-content;
    
    
    }
}
.finished{

    margin-left: 20vw;
} 



.bbb{
    border:2px solid black;
   margin:1px;
   padding:1px;
   border-radius: 10px;
}
.jhyu{
    display: block;
    width:max-content;
    /* margin-left: auto;
    margin-right: auto;
   margin-top: 1px; */
   margin: 1rem auto 1rem auto;

}