.RentalS{
    

 /* background-color: rgb(177, 236, 236); */
 background-color:rgb(221, 247, 247);
 padding: 0.5rem;
 /* border:0.1rem solid #dd4a4c; */
 /* border-bottom: 0.4rem solid #dd4a4c; */
 border-radius: 0.8rem;
 box-shadow: -0.25rem 0.50rem rgba(0,0,0,.15)!important;











    display: flex;
  
   

    margin:10px;
}

.R11{
    flex:2;
    align-items: center;
}
.R12{
    display: flex;
    flex:3;
    flex-direction: column;
  
    align-items: center;
}
.R11>img{
display: block;
margin-left: auto;
margin-right: auto;
width:50%;

}

.R12>span{
    text-align: center;
    width:50%;
    font-size: 12px;
   
    font-weight: bold;
    text-align: start;
}


@media(max-width:600px){
    .RentalS{
      flex-direction: column;
    }
}