*{
    box-sizing: border-box;
  
   
}

.searchItem{

   /* background-color: rgb(177, 236, 236); */
   background-color:rgb(221, 247, 247);
padding: 0.5rem;
/* border:0.1rem solid #dd4a4c; */
/* border-bottom: 0.4rem solid #dd4a4c; */
border-radius: 0.8rem;
box-shadow: 0.25rem 0.50rem rgba(0,0,0,.15)!important;
display: flex;
/* justify-content: space-between;
gap:20px; */
margin-bottom: 20px;
overflow-x:hidden;
}

.siImg{
    width:200px;
    height:200px;
    object-fit: cover;

}
.siDesc{
    display: flex;
    flex-direction: column;
    gap:10px;
    max-width: 60%
    /* flex:2; */

}
.siDetails{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.siTitle{
    color:red;
    font-size: 20px;
    color:#0071c2;
}
.siTitle1{
    color:red;
    font-size: 20px;
    color:#0071c2;
}

.red{
    color:red;
   
}

.siDistance{
    font-size: 12px;

}


.siTaxiOp{
    font-size: 0.8rem;
    background-color: #c1e5c3;
    /* color:white; */
    /* width: max-content; */
    padding: 0.1rem .5rem;
    border-radius: 5px;
    /* max-width: 70%; */
    overflow-x: hidden;
    word-wrap: break-word;
    height: max-content; 
    text-align: center;
    margin:2rem 0;
}

.pinky{
    width: max-content;
    padding: 0.5rem .5rem;
    background-color: #ee5759;
    /* background-color: #008009; */
    color:white;
}

.greeny{
    width: max-content;
    padding: 0.5rem .5rem;
    background-color: #008009;
    color: white;
}


.bigname{
    display: flex;
    justify-content: space-between;
}

.siSubtitle{
    font-size: 12px;
    font-weight: bold;
    text-align: start;
}


.siFeatures{
    font-size: 12px;
}

.siCancelOp{
    font-size: 12px;
    /* color:#008009; */
    font-weight: bold;
    text-align: start;
}

.siCancelOpSubtitle{
    font-size: 12px;
    color:#008009; 
    text-align: start;
 
}


.siRating{
display: flex;
justify-content: space-between;

}
.siRating>span{
    font-weight: 500;
}


.siRating>button{
background-color: #003580;
color:white;
padding:5px;
font-weight: bold;
border:none;
}

.siDetailTexts{
text-align: right;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.siPrice{
    font-size: 24px;

}
.siTaxOp{
    font-size: 12px;
    color:gray;
}


.siCheckButton{
background-color: #0071c2;
color:whitesmoke;
padding: 10px 5px;
border:none;
cursor: pointer;
margin-top: 10%;
}

@media(max-width:600px){

    .pinky,.greeny{
        position: relative;
        left:-40%;

    }

    .searchItem{
       flex-direction: column;
       text-align: center;
    /* border:5px solid red; */
    /* background-color: rgb(177, 236, 236); */

    
    }

    .siImg{
        width:100%;
        height:200px;
        object-fit: cover;
    
    }
    .siDetailTexts{
        text-align: center;
        }

    

    .siRating{
      flex-direction: row;
      justify-content:center;
        
        }
        .siRating>button{
            margin-left:20px;
            height:25px;
        }

}



.div11{
    /* border:2px solid black; */
    margin: 1px;
    width:100%
}
.div12{
    /* border:2px solid blue; */
    margin: 1px;
    display:flex;
    justify-content: space-around;
}
.div13{
    /* box-shadow: -.075rem -0.0075rem 0 0 rgba(0,0,0,.15)!important; */
    
    display: flex;
 
    margin: 1px;
    padding:1px;
    height:max-content;
}
@media(max-width:300px){

    .div13{
        /* border:2px solid green; */
        display: flex;
       flex-direction: column;
}
.div12{
    /* border:12px solid black; */

   flex-direction: column;
   /* justify-content: space-between; */
}

}
