.Contact11{
    width:60%;
    margin-left: auto;
    margin-right: auto;
  
    text-align: center;
}
.Contact11 input{
    margin:0.1rem;
    float:right;
}

.Contact{
    margin-top: 5rem;;
}


.brandsinContact{
    width: 40%;
    max-width: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right:auto;
   
}
.connect{
display: block;
width:max-content;
margin-left: auto;
margin-right: auto;
}