*{
    box-sizing: border-box;
}
.footer{
    width:100%;
    /* max-width:1024px; */
    font-size: 0.5rem;
    background:#2962ff;


}

.fLists{
    width:100%;
    display: flex;
    
    justify-content: space-between;
    margin-bottom: 50px;

}

.fList{
    list-style: none;
    padding: 0;

}
.fListItem{
    margin-bottom: 10px;
    color:#003580;
    cursor: pointer;
    font-size: 0.9rem;
}

.fText{
    display: block;
    width:max-content;
    /* margin-left:40%; */
    margin-left: auto;
    margin-right: auto;
    /* width:50%; */
    /* transform: translateX(50%); */
    font-size: 1rem;
}