
.formContainer{
  
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;;
    
    width: 95%;
    padding :0.2%;
 
   
    background-color:rgb(206, 245, 245);
    max-width: 1193px;


    border-radius: 0.8rem;
    box-shadow: -0.25rem 0.50rem rgba(0,0,0,.15)!important;

}



.form-control{
    height:50px;
    display: flex;
    justify-content: space-between;

}
/* form{
  
    margin-top: 1%;
} */
.form>form input{
  
    border:none;
    border-color: none;
    /* height:30px; */
    /* border-radius: 5px;; */
    width:100%;
    /* text-align: center; */
    background-color:rgb(206, 245, 245);
       /* background-color:rgb(246, 245, 245); */
    color:rgb(107, 107, 249);


  
}
.btn1{
    background-color:rgb(206, 245, 245);
    border: 0.1rem solid #dd4a4c;
     flex:1;
 
    text-align: center;
  
     
     color:#dd4a4c;
    height:40px;
  
    border-radius:0.5rem;
   margin-top: 1%;
}
.btnn{
    margin:6vh 0.5vh 0.5vh 0.5vh;
max-width: 500px;
    display: flex;
    gap:5px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 1rem;
   padding-right: 1rem;
}
.btn2{
    flex:5;
    background-color:rgb(206, 245, 245);
    /* background-color: green; */
    text-align: center;
    border: 0.1rem solid rgb(31, 195, 31) !important;
    height:40px;
    /* width:60%; */
    border-radius: 10px;
   margin-top: 1%;
   /* color:black; */
   color: green;


}

textarea{
    color:rgb(107, 107, 249);
    background-color:rgb(206, 245, 245);
width:100%;

border: none;
text-align: center;
}
.success{
   

    margin-left: auto;
    margin-right: auto;
    width:max-content
 
}
h4{
    background-color:rgb(195, 249, 249);
    /* background-color: pink; */
    width:90vw;
    padding:2px;
   overflow-x:scroll;

}

.check{
 color:green;
 font-weight:bold;
 font-size: 2rem;
}

.span{
    color:red;
}
.maindivv{
width:max-content;
font-size: 0.7rem ;
}




@media (max-width:500px) {
    .form-control{
       flex-direction: column;
   margin-left:auto;
   margin-right:auto;
    
    }

    .formContainer{
     text-align: center;
        width: 95%;
     
       
    }

    /* .form>Form input,textarea{
        margin-left: auto;
        margin-right: auto;
    }
/*  */
    /* form{
       width:90%;
    }  */
   
}
  .centre{
    display: block;
    width:max-content;
  margin-left: auto;
  margin-right: auto;
  border:0.001rem solid #dd4a4c;
  padding: 0.5rem;
  border-radius: 1rem;;
  color:#dd4a4c;
  cursor: pointer;
 
  }
  

  .fields{
    border:0.001rem solid rgb(171, 171, 171);
    border-radius:1rem;
    width:90%;
    max-width:690px;
    margin-left: auto;
    margin-right: auto;
    padding-top:0;
    
  }