
.formContainer{
    border:2px solid red;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding :0.2%;
    width:max-content;
    margin-top:5rem
   
}



.form-control{
    height:50px;
    display: flex;
    justify-content: space-between;

}
/* form{
  
    margin-top: 1%;
} */
.form>form input{
    border:2px solid red;
    height:30px;
    border-radius: 5px;;
    width:70%;
    float:right
}
.btn1{
     flex:1;
   color:white;
    text-align: center;
    background-color: rgb(232, 99, 99);
    height:40px;
    /* width:30%; */
    border-radius: 10px;
   margin-top: 1%;
}
.btnn{
    margin-top: 6vh;
    display: flex;
    gap:5px
}
.btn2{
    flex:5;
 
    text-align: center;
    background-color: rgb(31, 195, 31);
    height:40px;
    /* width:60%; */
    border-radius: 10px;
   margin-top: 1%;

}

textarea{
width:35%;
border:2px solid red;
float:right;

border-radius: 5px;;
}
.success{
   
margin-top: 12vh;
    margin-left: auto;
    margin-right: auto;
    width:max-content
 
}
h4{
  
    background-color: pink;
    width:90vw;
    padding:2px;
   overflow-x:scroll;

}

.check{
 color:green;
 font-weight:bold;
 font-size: 2rem;
}

.span{
    color:red;
}
.maindivv{
width:max-content;
font-size: 0.7rem ;
}




@media (max-width:500px) {
    .form-control{
       flex-direction: column;
   margin-left:auto;
   margin-right:auto;
    
    }

    .formContainer{
     text-align: center;
        width: 95%;
     
       
    }

    .form>Form input,textarea{
        margin-left: auto;
        margin-right: auto;
    }
/* 
    form{
       width:90%;
    } */
   
}
